{{#each ctf_data}}
<tr>
    <td>{{ year }}</td>
    <td><t en>{{ ctf_en }}</t><t ja>{{ ctf_ja }}</t></td>
    <td><a target="_blank" href="{{ links_website }}">{{ links_website }}</a></td>
    <td>{{ participants }}</td>
</tr>
{{/each}}
