{{#each members_data}}
<tr>
    <td>{{ alias }}</td>
    <td><t en>{{ ctf_en }}</t><t ja>{{ ctf_ja }}</t></td>
    <td><a target="_blank" href="{{ links_website }}">{{ links_website }}</a></td>
    <td><a target="_blank" href="../data/writeup/{{ links_writeup }}.txt">{{ links_writeup }}</a></td>
    <!-- <td><a target="_blank" href="{{ details }}"><t en>Click here!</t><t ja>詳しくを見る</t></a></td> -->
</tr>
{{/each}}
