{{#each members_data}}
<tr>
    <td>{{ alias }}</td>
    <td><t en>{{ name_en }}</t><t ja>{{ name_ja }}</t></td>
    <td><a target="_blank" href="{{ links_website }}">{{ links_website }}</a></td>
    <td><a target="_blank" href="https://twitter.com/{{ links_twitter }}">@{{ links_twitter }}</a></td>
    <td><a target="_blank" href="https://github.com/{{ links_github }}">@{{ links_github }}</a></td>
    <!-- <td><a target="_blank" href="{{ details }}"><t en>Click here!</t><t ja>詳しくを見る</t></a></td> -->
</tr>
{{/each}}
