{{#each members_data}}
<tr>
    <td>{{ alias }}</td>
    <td><t en>{{ name_en }}</t><t ja>{{ name_ja }}</t></td>
    <td><a target="_blank" href="{{ links_website }}">{{ links_website }}</a></td>
    <td><a target="_blank" href="{{ links_twitter }}">{{ links_twitter }}</a></td>
    <td><a target="_blank" href="{{ links_github }}">{{ links_github }}</a></td>
</tr>
{{/each}}
